<div class="login">
  <h1>Social Login</h1>

  <mat-list role="list">
    <mat-list-item role="listitem"
      ><button (click)="login()" mat-raised-button>
        Login with Google
      </button></mat-list-item
    >
    <mat-list-item role="listitem"
      ><button disabled (click)="login()" mat-raised-button>
        Login with Facebook
      </button></mat-list-item
    >
    <mat-list-item role="listitem">
      <button disabled (click)="login()" mat-raised-button>
        Login with Github
      </button></mat-list-item
    >
  </mat-list>
</div>
